language: go
go: 1.4.2
sudo: required

env:
  - GIF_OS=darwin GIF_ARCH=386
  - GIF_OS=darwin GIF_ARCH=amd64
  - GIF_OS=linux GIF_ARCH=386
  - GIF_OS=linux GIF_ARCH=amd64
  # - GIF_OS=windows GIF_ARCH=386 GIF_BINARY_SUFFIX=.exe
  - GIF_OS=windows GIF_ARCH=amd64 GIF_BINARY_SUFFIX=.exe

addons:
  apt:
    packages:
      # linux/386
      - libc6-dev-i386
      - gcc-multilib
      # darwin
      - libxml2-dev
      - uuid-dev
      - libssl-dev
      # windows
      # - gcc-mingw-w64
      # - mingw-w64

before_install:
  - sudo apt-get install -y binutils-mingw-w64-i686 binutils-mingw-w64-x86-64 gcc-mingw-w64-i686 gcc-mingw-w64-x86-64 gcc-mingw-w64 mingw-w64
  - ./setup_darwin.sh
  - export PATH=/tmp/osxcross/target/bin:$PATH
  - go get github.com/mitchellh/gox

before_script:
  - export GIF_VERSION="$(git describe --tags HEAD)"
  - gox -os=$GIF_OS -arch=$GIF_ARCH -cgo -build-toolchain

script: ./crosscompile.sh

deploy:
  -
    provider: releases
    api_key:
      secure: olezWxdH3ajEF7LkVIHB5QVlkG9m6rL14SFnkk7lyyatLQQHDRtGNKXecR0W7mYs4Xw6g4jq/rzPvSRv/Kp0pblKj0btYyrXkNtnq1GQxBgCswnelDsNa49aw2i7ucj9oT0GAVF+mnCa3hYpqUf3TOfm8ThQvn8ccrn492DvI+oKytyCPsKb+SS63q9VKAOYFWELhf76zNPviiKz8zQBNToleX1MpAbHMXsZR+kQCwgnn975k3Qugdu3U1VeGRgVFeCyOhu0lJ5tJmvhnjAT20gv5U7GOYulIehbklR8nTgfWVmm8F5dKtVXSOEttx+CxCkLBE6zJLWsVlLMuML8Pwrxwx/PspvH5ICca9YEQBvysa+xg1T9Wu9E+qmrdsnxJISD85lYMEDkyGsQBdVVpjkABmBctMtqO9Ju2tmJ9+twcF9yGH4L9TX9BAftBlhJQnAss9UrapY0/rlURs2rHB0VLg5lozuh3ck2C8jRjDjn3wnO5uItzjJytuC0deEF3yZ7xAFre3yU8+MFKNnmcpKM9w/Tm6d2ePrsUoXEwCdEJk2C8bUzy9mzkr9RRSJ4tQ36rS+mHIxGMnMgmclgvmN3UnoW2/JhsLEi2mQ0Hh+t6WIckR5c50mn7Jtav2rIFijTsUzXZg1IBYo0LqVKWni4clBTkf3w06peiV8JpFk=
    file_glob: true
    file: build/*
    skip_cleanup: true
    on:
      repo: evoL/gif
      tags: true
  -
    provider: s3
    access_key_id: AKIAJAS4SQCYADGBXUMA
    secret_access_key:
      secure: Y55AEbQUQ5TS1365xcxIUx0t+5uy4dlwBnZeyo+GVVbIMcA3qqAL6s2YYsHnJrwekQPlm/kVU6e+yOFVwtXo/4bHNqOHi3SQ18MvCAkliyG24t3uehXYoXvNqHhuvHCQwlBuos5QYW5fdVTmY6a4B/FYzy8SldJJ+qX/0HsenYNe72Y4MTtAOipIE+qtfhgCamEdALa9qjCoYQjL2drlu4PWHWy8qDQMxlPTc68b3I5S4h8Z/chOqo7Llv4cBzY06+o4u/sKKjPN7diJJACbRKyEfPaPp9EqyO9DYDLabWeUC72VDyYKv9XR1uJgLv87d/WPpXuLBhyPZjNU9zq4bTRRtyfmCLsda7eoZ/jalhgZMCtdk8gy/NIkD3U26MFq40YbNEtKoPJ3dDb1gK4S58aW1YvIwpE0blEpb0OUVsEpebaRzlYa79w03tEu4EwRfqQx+8beF8rX6KztiN5lXWtILmgiBn/06L7W30aJjjM+HDAByDlF6B0/FMEaidvfqJ+WE5dkFzCMYkyj0vZEAMfF3YNaiP0eTtf9KPLbauIryKd8/Poow3CpZ3THWhNbqWJk03R6KO8rwTJWXE1gelUpzks2WYBj14agmsbfVCW8bwS3SclfKyNBgFSEMS2qK3GaPZj4b0BvViuajWTp8nnPbqNkzVt3BFqT71zwjeE=
    bucket: gif-build
    local-dir: build
    upload-dir: gif-${GIF_VERSION}
    skip_cleanup: true
    acl: public_read
    on:
      repo: evoL/gif

notifications:
  email: false
